.Nav_Bar {
  background:linear-gradient(
    90deg,
    #42aeb5,
    #258694,
    #0e566a,
    #9dd4d1,
    #072533
  );
  opacity: 0.9;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.Title_style{
    color:rgb(243, 242, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;  
}