.main_Container {
  margin-bottom: 10rem;
  margin-top: 10rem;
  height: 90vh;
  background: linear-gradient(
    90deg,
    #b54287,
    #942e25,
    #520e6a,
    #9dd4d1,
    #072533
  );
  opacity: 0.8;
}

.question_flexBox {
  border: solid #535c91;
  border-radius: 2rem;
  background-color: #a0144c;
  padding: 0.9rem;
  margin-bottom: 0.5rem;
  max-width: 30em;
  min-width: 30em;
}
.question_flexBox .question_Text_Style {
  color: rgb(244, 239, 239);
  font-size: 1em;
  font-weight: bolder;
}
.question_icon_Style {
  color: #920d66;
}

.answer_flexBox {
  border: solid #ffc0d9;
  border-radius: 2rem;
  background-color: #535c91;
  padding: 1rem;
  max-width: 30em;
  min-width: 30em;
}
