.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(
        90deg,
        #36342d,
        #d0d251,
        #6a5e0e,
        #d1d49d,
        #293307
      );
    text-align: center;
   
 }